<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="org.mcclone"/>
    <context:property-placeholder location="classpath*:application.properties"/>

    <task:annotation-driven executor="myExecutor" scheduler="myScheduler"/>
    <task:executor id="myExecutor" pool-size="5"/>
    <task:scheduler id="myScheduler" pool-size="10"/>

    <bean class="org.mcclone.context.PropertyContextHolder" lazy-init="false"/>

    <aop:aspectj-autoproxy/>
    <aop:config/>

    <bean class="org.mcclone.aop.HelloServiceAspect"/>

    <!--<bean id="sayHelloBeforeAdvice" class="org.mcclone.aop.SayHelloBeforeAdvice"/>-->

    <!--<bean id="helloServiceImpl" class="org.springframework.aop.framework.ProxyFactoryBean">-->
        <!--<property name="targetSource" ref="poolTargetSource"/>-->
        <!--<property name="interceptorNames" value="sayHelloBeforeAdvice"/>-->
    <!--</bean>-->

    <!--<bean id="poolTargetSource" class="org.springframework.aop.target.CommonsPoolTargetSource">-->
        <!--<property name="targetBeanName" value="helloService"/>-->
        <!--<property name="maxSize" value="25"/>-->
    <!--</bean>-->

    <!--<bean id="helloServiceImpl" class="org.springframework.aop.framework.ProxyFactoryBean">-->
        <!--<property name="target" ref="helloService"/>-->
        <!--<property name="interceptorNames" value="sayHelloBeforeAdvice"/>-->
    <!--</bean>-->

    <!--<aop:config>-->
        <!--<aop:pointcut id="sayHello" expression="execution(* org.mcclone.service.HelloService.sayHello(..))"/>-->
        <!--<aop:advisor advice-ref="sayHelloBeforeAdvice" pointcut-ref="sayHello"/>-->
    <!--</aop:config>-->

    <!--<import resource="spring-zk.xml"/>-->
</beans>